<%= form_for(imported_video) do |f| %>
  <% if imported_video.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(imported_video.errors.count, "error") %> prohibited this imported_video from being saved:</h2>

      <ul>
      <% imported_video.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.number_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :video_id %>
    <%= f.number_field :video_id %>
  </div>

  <div class="field">
    <%= f.label :imported_from_id %>
    <%= f.number_field :imported_from_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
