<!DOCTYPE html>
<html>
  <head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
    <%= form_for(user) do |f| %>
      <% if user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
          <ul>
          <% user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

    <table class="table table-striped mt-5 custom-width-table">
      <tr>
        <td><b><%= f.label :username %></b></td>
        <td><%= f.text_field :username %></td>
      </tr>
      <tr>
        <td><b><%= f.label :email %></b></td>
        <td><%= f.text_field :email %></td>
      </tr>
      <tr>
        <td><b><%= f.label :password %></b></td>
        <td><%= f.password_field :password %></td>
      </tr>
      <tr>
        <td><b><%= f.label :password_confirmation %></b></td>
        <td><%= f.password_field :password_confirmation %></td>
      </tr>
      <tr>
        <td><b><%= f.label :role_id %></b></td>
        <td><% options = Role.all.each.map{|role| [role.name, role.id]} %>
          <%= f.select :role_id, options_for_select(options, :disabled => ["Select One"])%></td>
      </tr>
      <tr>
        <td><b>
          <% if current_user.is_public %>
            <%= f.label :is_public %>
          <% else %>
            <%= f.label :is_public, "Make profile public"%>
          <% end %>
          <div>
            <div class="input_wrapper">
              <% if current_user.is_public %>
                <%= f.check_box :is_public %>
              <% else %>
                <%= f.check_box :is_public, :class => "switch_4"%>
              <% end %>
              <svg class="is_checked" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 426.67 426.67">
                <path d="M153.504 366.84c-8.657 0-17.323-3.303-23.927-9.912L9.914 237.265c-13.218-13.218-13.218-34.645 0-47.863 13.218-13.218 34.645-13.218 47.863 0l95.727 95.727 215.39-215.387c13.218-13.214 34.65-13.218 47.86 0 13.22 13.218 13.22 34.65 0 47.863L177.435 356.928c-6.61 6.605-15.27 9.91-23.932 9.91z"/>
              </svg>
              <svg class="is_unchecked" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 212.982 212.982">
                <path d="M131.804 106.49l75.936-75.935c6.99-6.99 6.99-18.323 0-25.312-6.99-6.99-18.322-6.99-25.312 0L106.49 81.18 30.555 5.242c-6.99-6.99-18.322-6.99-25.312 0-6.99 6.99-6.99 18.323 0 25.312L81.18 106.49 5.24 182.427c-6.99 6.99-6.99 18.323 0 25.312 6.99 6.99 18.322 6.99 25.312 0L106.49 131.8l75.938 75.937c6.99 6.99 18.322 6.99 25.312 0 6.99-6.99 6.99-18.323 0-25.313l-75.936-75.936z" fill-rule="evenodd" clip-rule="evenodd"/>
              </svg>
            </div>
          </div>
        </b></td>
      </tr>
    </table>

      <%= f.submit :class => "btn btn-outline-primary btn-sm pull-right" %>
  <% end %>
  </body>