

<div class="row" style="padding-top: 80px">
  <div class="col-md-8">
    <table class="table table-striped mt-5">
      <thead>
      <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Role</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @user.username %></td>
          <td><%= @user.email %> </td>
          <td><%= @user.role.name %></td>
          <td></td>
        </tr>
      </tbody>
    </table>

    <button type="button" class="btn btn-link"><b><%= link_to 'Edit', edit_user_path(@user) %></b></button>
    <button type="button" class="btn btn-outline-primary btn-sm pull-right"><%= link_to 'Deactivate account', @user, method: :deactivate, data: { confirm: 'Are you sure?' } %></button>

  </div>
</div>
