
<head>
  <h3 class="mb-4 mt-5">Videos</h3>
</head>

<body>
  <table class="table table-striped mt-5">
    <thead>
    <tr>
      <th>Song name</th>
      <th>Artist name</th>
      <th>Link video</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @videos.each do |video| %>
      <tr>
        <td><%= video.name %></td>
        <td><%= video.artist %></td>
        <td><%= video.link_video %></td>
        <td>
          <button type="button" class="btn btn-outline-primary btn-sm"><%= link_to 'Show', video %></button>
          <button type="button" class="btn btn-outline-primary btn-sm"><%= link_to 'Edit', edit_video_path(video) %></button>
          <button type="button" class="btn btn-outline-primary btn-sm"><%= link_to 'Import video', videos_user_path(video) %></button>
          <button type="button" class="btn btn-outline-primary btn-sm"><%= link_to 'Delete', video, method: :delete, data: { confirm: 'Are you sure?' } %></button>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <button type="button" class="btn btn-link"><b><%= link_to 'New video', new_video_path %></b></button>
</body>
