
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.css">
  <title> MUSIC </title>
</head>

<body>
  <div class="container">
    <nav class="custom-nav navbar navbar-expand-sm bg-light navbar-light border">
      <div class="col-xl">
        <ul class="navbar-nav">
          <li class="nav-item mb-0">
            <a class="nav-link bg-light" href="/">Home</a>
          </li>
          <li class="nav-item mb-0">
            <a class="nav-link bg-light" href="/videos">Videos</a>
          </li>
          <li class="nav-item mb-0">
            <a class="nav-link bg-light" href="/users">Users</a>
          </li>
          <li class="nav-item mb-0">
            <%= render 'devise/registrations/logout' %>
          </li>
          <li class="nav-item mb-0">
            <a class="nav-link bg-light" href="/users/sign_up">Sign Up</a>
          </li>
        </ul>
      </div>
      <span class="custom-form mr-4">
        <form class="form-inline" action="/">
          <input class="form-control mr-sm-2" type="text" placeholder="users">
          <button type="button" class="btn btn-outline-primary btn-sm">Search</button>
        </form>
      </span>

      <span class="custom-form">
        <form class="form-inline" action="/">
          <input class="form-control mr-sm-2" type="text" placeholder="music">
          <button type="button" class="btn btn-outline-primary btn-sm">Search</button>
        </form>
      </span>
    </nav>
  </div>

  <% if notice %>
    <p class="alert text-primary"><%= notice %></p>
  <% end %>

  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
