
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.css">
    <title> MUSIC </title>
  </head>

  <body>
    <div class="container">
      <nav class="custom-nav navbar navbar-expand-sm bg-light navbar-light border">
        <div class="row">
          <div class="col-md-4 col-sm-12">
            <ul class="navbar-nav">
              <% if user_signed_in? %>
                <li class="nav-item mb-0">
                  <b><a class="nav-link bg-light" href="/videos">Videos</a></b>
                </li>
                <% unless current_user.role.name == 'Administrator' %>
                  <li class="nav-item mb-0">
                    <b><a class="nav-link bg-light" href="/my_videos">My videos</a></b>
                  </li>
                <% end %>
              <% end %>
              <% if current_user %>
                <li class="nav-item mb-0">
                  <b><%= render 'users/user' %></b>
                </li>
              <% end %>
              <li class="nav-item mb-0">
                <b><%= render 'devise/registrations/logout' %></b>
              </li>
              <%unless user_signed_in? %>
                <li class="nav-item mb-0">
                  <b><a class="nav-link bg-light" href="/users/sign_up">Sign up</a></b>
                </li>
              <% end %>
            </ul>
          </div>

          <div class="col-md-8 col-sm-12">
            <div class="row">
              <span class="custom-form col-md-6">
                <%= form_tag users_path, :method => 'get' do %>
                  <%= text_field_tag :search, params[:search], placeholder: 'user name' %>
                  <%= submit_tag "Search", :username => nil, :class => "btn btn-outline-primary btn-sm" %>
                <% end %>
              </span>
              <span class="custom-form col-md-6">
                <%= form_tag videos_path, :method => 'get' do %>
                  <%= text_field_tag :search, params[:searchv], placeholder: 'artist name' %>
                  <%= submit_tag "Search", :artist => nil, :class => "btn btn-outline-primary btn-sm" %>
                <% end %>
              </span>
            </div>
          </div>

        </div>
      </nav>
      <% if notice %>
        <p class="alert text-primary"><%= notice %></p>
      <% end %>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>


